* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: proxima-nova, sans-serif;

}

.shoppee_container {
    /* max-width: 1366px; */
    margin: auto;

}

.shoppee_offer {
    background     : #A67744 0% 0% no-repeat padding-box;
    opacity        : 1;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 40px;
    font           : normal normal medium 16px/20px proxima-nova, sans-serif;
    letter-spacing : 0px;
    color          : #F7F5E6;
    opacity        : 1;
}

.navbar {
    background      : #E0E4E7;
    // padding-right: 84px;
    padding-left    : 84px;
}

.navbar ul li {
    color: #354E57;
}

.navbar_one {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding-top    : 44px;
}

.navbar_one ul {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color          : #354E57;
}

.navbar_left {
    display          : flex;
    text-transform   : uppercase;
    font             : normal normal bold 12px/14px proxima-nova, sans-serif;
    letter-spacing   : 0.8px;
    color            : #354E57;
    opacity          : 1;
    // padding-right : 362px;
}

.navbar_left li {
    padding-right: 47px;
}

.navbar_sooth {
    text-align       : left;
    letter-spacing   : 1.6px;
    color            : #293D45;
    opacity          : 1;
    font-size        : 32px;
    font             : proxima-nova, sans-serif;
    // padding-right : 398px;
}

.navbar_right {
    display       : flex;
    text-transform: uppercase;
    font          : normal normal bold 12px/14px proxima-nova, sans-serif;
    letter-spacing: 0.8px;
    color         : #354E57;
    opacity       : 1;
}

.navbar_right li {
    padding-right: 42px;
}

.navbar_two ul {
    font           : normal normal medium 16px/20px Proxima Nova, sans-serif;
    letter-spacing : 0.8px;
    color          : #354E57;
    opacity        : 1;
    display        : flex;
    padding-top    : 25px;
    list-style     : none;
    justify-content: center;
}

.navbar_two ul li {
    padding-right: 63px;
}

.hero_banner_container {
    background       : #E6E6FA;
    background-repeat: no-repeat !important;
    background-size  : cover;
    background       : url("../adobe_images/updated_Header.png");
}

.lable_new {
    padding       : 4px;
    text-align    : left;
    font          : normal normal 600 12px/14px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    background    : #F7F7F7 0% 0% no-repeat padding-box;
    opacity       : 1;
}

.hero_banner {
    // position   : relative;
    padding-top: 6.188rem;
}

.hero_banner_one {
    margin-bottom: 14.5rem;
    margin-left  : 8.688rem;
}

.hero_banner_p1 {
    text-align    : left;
    font          : normal normal bold 48px/58px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
    padding-top   : 14px;
}

.hero_banner_p2 {
    text-align    : left;
    font          : normal normal normal 16px/24px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
    padding-top   : 14px;
}

.hero_banner_button {
    border           : 1px solid #354E57;
    opacity          : 1;
    width            : 173px;
    height           : 35px;
    background       : transparent;
    // margin-bottom : 232px;
    margin-top       : 28px;
    font             : normal normal bold 14px/17px proxima-nova, sans-serif;
    letter-spacing   : 0px;
    color            : #2E2E22;
    opacity          : 1;
}

.hero_banner_two {
    position: relative;
    left    : 42rem;
    bottom  : 33rem;
}

.hero_banner_two .plant_rhs {
    position: absolute;
    top     : -4rem;
    left    : 13.5rem;
}

.hero_banner_two .plant_lhs {
    position: absolute;
    top     : -3rem;
    left    : -10.4rem;
}

.hero_banner_two .ezcema_bottle {
    position: absolute;
    right   : 8rem;
    top     : -5rem;
}

/* Products CSS Starts */
.container {
    width : 80%;
    margin: auto;
}

.product_container_first {
    background: #EEF3F4 0% 0% no-repeat padding-box;
    opacity   : 1;
}

.product_container_first .product_header {
    text-align: center;
    border    : 1px solid var(--como-547665);
    border    : 1px solid #547665;
    opacity   : 1;
}

.product_container_first .product_header h4 {
    text-align    : center;
    font          : normal normal bold 28px/34px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
    padding-top   : 43px;
}

.product_container_first .product_header h5 {
    padding-top   : -12px;
    padding-bottom: 39px;
    text-align    : center;
    font          : normal normal normal 16px/20px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
}

.product_container_first .product_titles {
    display        : flex;
    justify-content: space-between;
    padding-left   : 139px;
    padding-right  : 139px;
    text-align     : left;
    font           : normal normal bold 14px/17px proxima-nova, sans-serif;
    letter-spacing : 0px;
    color          : #2E2E22;
    opacity        : 1;
    padding-top    : 3rem;
    padding-bottom : 1.5rem;
}

.product_container_first .product_images_header {
    display         : flex;
    // padding-left : 139px;
    // padding-right: 120px;
}

// .product_container_first .product_images_header ul {
//     list-style     : none;
//     display        : flex;
//     justify-content: space-between;
//     // padding-right  : 139px;
//     // padding-left   : 139px;
//     padding-bottom : 5rem;
// }

.product_container_first .products_image {
    background: white;
}

.product_container_first .products {
    position: relative;
}

.product_container_first .products a {
    text-decoration: none;
}

.product_container_first .products_name {
    padding-top   : 14px;
    padding-bottom: 3px;
}

.product_container_first .products_info {
    padding-bottom: 9px;
}

.product_container_first .products_rate {
    padding-bottom: 11px;
}

.product_container_first .products_lable_new {
    padding       : 10px;
    margin        : 12px;
    text-align    : left;
    font          : normal normal 600 12px/14px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    background    : #F7F7F7 0% 0% no-repeat padding-box;
    opacity       : 1;
    position      : absolute;
}

.product_container_first .products_button {
    width        : 251px;
    height       : 35px;
    border       : 1px solid #354E57;
    opacity      : 1;
    margin-bottom: 111px;
    background   : transparent;
}

.product_container_first .products_lable_off {
    padding       : 10px;
    margin        : 12px;
    text-align    : left;
    font          : normal normal 600 12px/14px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #A67744;
    background    : #F7F7F7 0% 0% no-repeat padding-box;
    opacity       : 1;
    position      : absolute;
}

/* Products CSS Ends */

// Clean Products - Teaser Banner Starts
.teaser_banner {
    background  : #547665;
    padding-left: 140px;
    padding-top : 221px;
    display     : flex;
    position    : relative;
    height      : 731px;
}

.teaser_banner_one {
    padding-right: 80px;
}

.teaser_banner_p1 {
    text-align    : left;
    font          : normal normal bold 48px/58px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #FFFFFF;
    opacity       : 1;
    padding-top   : 14px;
}

.teaser_banner_p2 {
    text-align    : left;
    font          : normal normal normal 16px/24px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #EEF2F4;
    opacity       : 1;
    padding-top   : 23px;
}

.teaser_banner_button {
    border           : 1px solid #FFFFFF;
    opacity          : 1;
    top              : 2117px;
    left             : 139px;
    width            : 176px;
    height           : 40px;
    margin-top       : 55px;
    // margin-bottom : 215px;
    background       : transparent;
    font             : normal normal bold 14px/17px proxima-nova, sans-serif;
    letter-spacing   : 0px;
    color            : #F7F5E6;
    opacity          : 1;
}

.teaser_banner_two {
    position: absolute;
    top     : 0px;
    right   : 0px;
}

.teaser_banner_two img {
    width : 42.688rem;
    height: 45.688rem;
}

.products_button .fa {
    padding-right: 11px;
}

// Clean Products - Teaser Banner Ends

/* Products CSS Starts */

.product_container_second {
    background: #EEF3F4 0% 0% no-repeat padding-box;
    opacity   : 1;
}

.product_container_second .product_header {
    text-align: center;
    border    : 1px solid var(--como-547665);
    border    : 1px solid #547665;
    opacity   : 1;
}

.product_container_second .product_header h4 {
    text-align    : center;
    font          : normal normal bold 28px/34px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
    padding-top   : 43px;
}

.product_container_second .product_header h5 {
    padding-top   : -12px;
    padding-bottom: 39px;
    text-align    : center;
    font          : normal normal normal 16px/20px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
}

.product_container_second .product_titles {
    display        : flex;
    justify-content: space-between;
    padding-left   : 139px;
    padding-right  : 139px;
    text-align     : left;
    font           : normal normal bold 14px/17px proxima-nova, sans-serif;
    letter-spacing : 0px;
    color          : #2E2E22;
    opacity        : 1;
    padding-top    : 3rem;
    padding-bottom : 1.5rem;
}

.product_container_second .product_images_header {
    display      : flex;
    padding-left : 139px;
    padding-right: 120px;
}

.product_container_second .product_images_header ul {
    list-style     : none;
    display        : flex;
    justify-content: space-between;
    padding-right  : 139px;
    padding-left   : 139px;
    padding-bottom : 5rem;
}

.product_container_second .products_image {
    background: white;
}

.product_container_second .products {
    position: relative;
}

.product_container_second .products a {
    text-decoration: none;
}

.product_container_second .products_name {
    padding-top   : 14px;
    padding-bottom: 3px;
}

.product_container_second .products_info {
    padding-bottom: 9px;
}

.product_container_second .products_rate {
    padding-bottom: 11px;
}

.product_container_second .products_lable_new {
    padding       : 10px;
    margin        : 12px;
    text-align    : left;
    font          : normal normal 600 12px/14px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    background    : #F7F7F7 0% 0% no-repeat padding-box;
    opacity       : 1;
    position      : absolute;
}

.product_container_second .products_button {
    width        : 251px;
    height       : 35px;
    border       : 1px solid #354E57;
    opacity      : 1;
    margin-bottom: 111px;
    background   : transparent;
}

.product_container_second .products_lable_off {
    padding       : 10px;
    margin        : 12px;
    text-align    : left;
    font          : normal normal 600 12px/14px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #A67744;
    background    : #F7F7F7 0% 0% no-repeat padding-box;
    opacity       : 1;
    position      : absolute;
}

/* Products CSS Ends */

// Hand - Teaser Banner Sartrs
.hand_teaser_banner {
    background: #C6B9B6 0% 0% no-repeat padding-box;
    opacity   : 1;
    display   : flex;
}

.hand_teaser_banner_one {
    top    : 3757px;
    left   : 0px;
    width  : 683px;
    height : 700px;
    opacity: 1;
}

.hand_teaser_banner_two {
    padding-top  : 253px;
    padding-left : 105px;
    padding-right: 88px;
}

.hand_teaser_banner_p1 {
    color         : var(--white-ffffff);
    text-align    : left;
    font          : normal normal bold 40px/60px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #FFFFFF;
    opacity       : 1;
    padding-bottom: 23px;
}

.hand_teaser_banner_p2 {
    color         : var(--rangitoto-2e2e22);
    text-align    : left;
    font          : normal normal normal 16px/24px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #2E2E22;
    opacity       : 1;
    padding-bottom: 42px;
}

.hand_teaser_banner_button {
    top           : 4192px;
    left          : 788px;
    width         : 176px;
    height        : 40px;
    border        : 1px solid #956A53;
    opacity       : 1;
    background    : transparent;
    font          : normal normal bold 14px/17px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #2E2E22;
    opacity       : 1;
}

// Hand - Teaser Banner Ends

/* Products CSS Starts */

.product_container_third {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity   : 1;
}

.product_container_third .product_header {
    text-align: center;
    border    : 1px solid var(--como-547665);
    border    : 1px solid #547665;
    opacity   : 1;
}

.product_container_third .product_header h4 {
    text-align    : center;
    font          : normal normal bold 28px/34px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
    padding-top   : 43px;
}

.product_container_third .product_header h5 {
    padding-top   : -12px;
    padding-bottom: 39px;
    text-align    : center;
    font          : normal normal normal 16px/20px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
}

.product_container_third .product_titles {
    display        : flex;
    justify-content: space-between;
    padding-left   : 139px;
    padding-right  : 139px;
    text-align     : left;
    font           : normal normal bold 14px/17px proxima-nova, sans-serif;
    letter-spacing : 0px;
    color          : #2E2E22;
    opacity        : 1;
    padding-top    : 3rem;
    padding-bottom : 1.5rem;
}

.product_container_third .product_images_header {
    display      : flex;
    padding-left : 139px;
    padding-right: 120px;
}

.product_container_third .product_images_header ul {
    list-style     : none;
    display        : flex;
    justify-content: space-between;
    padding-right  : 139px;
    padding-left   : 139px;
    padding-bottom : 5rem;
}

.product_container_third .products_image {
    background: white;
}

.product_container_third .products {
    position: relative;
}

.product_container_third .products a {
    text-decoration: none;
}

.product_container_third .products_name {
    padding-top   : 14px;
    padding-bottom: 3px;
}

.product_container_third .products_info {
    padding-bottom: 9px;
}

.product_container_third .products_rate {
    padding-bottom: 11px;
}

.product_container_third .products_lable_new {
    padding       : 10px;
    margin        : 12px;
    text-align    : left;
    font          : normal normal 600 12px/14px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    background    : #F7F7F7 0% 0% no-repeat padding-box;
    opacity       : 1;
    position      : absolute;
}

.product_container_third .products_button {
    width        : 251px;
    height       : 35px;
    border       : 1px solid #354E57;
    opacity      : 1;
    margin-bottom: 111px;
    background   : transparent;
}

.product_container_third .products_lable_off {
    padding       : 10px;
    margin        : 12px;
    text-align    : left;
    font          : normal normal 600 12px/14px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #A67744;
    background    : #F7F7F7 0% 0% no-repeat padding-box;
    opacity       : 1;
    position      : absolute;
}

/* Products CSS Ends */
.image_tiles {
    background: #F7F7F7;
    padding   : 58px 295px;
}

.image_tiles_header {
    text-align: center;
    opacity   : 1;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.image_tiles_header h4 {
    text-align    : center;
    font          : normal normal bold 28px/34px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
    padding-top   : 43px;
}

.image_tiles_header h5 {
    padding-top   : -12px;
    padding-bottom: 39px;
    text-align    : center;
    font          : normal normal normal 16px/20px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
}

.image_tiles .product_images_header .products img {
    width     : 200px;
    height    : 200px;
    margin-top: 30px;

}


.image_tiles .product_images_header .products a {
    text-decoration: none;
}

.image_tiles .product_images_header .products p {
    padding-top: 19px;
}

.feature_banner {
    background     : #EEF2F4;
    padding        : 58px 295px;
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;
    text-align     : center;
}

.feature_banner_icon {
    opacity: 1;
    color  : #C6B9B6;
}

.feature_banner p {
    padding-top: 22px;
}

.newsletter {
    background              : #FFFFFF 0% 0% no-repeat padding-box;
    border                  : 1px solid #354E57;
    opacity                 : 1;
    display                 : flex;
    align-items             : center;
    /* justify-content      : space-evenly; */
    padding-top             : 35px;
    padding-bottom          : 35px;
    padding-left            : 137px;
}

.newsletter h3 {
    font          : normal normal bold 32px/38px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
    margin-right  : 32px;
}

.newsletter span {
    border      : 1px solid var(--mischka-d7ccdd);
    border      : 1px solid #D7CCDD;
    opacity     : 1;
    top         : 6492px;
    left        : 372px;
    width       : 0px;
    height      : 78px;
    margin-right: 39.5px;
}

.newsletter p {
    font          : normal normal normal 16px/20px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #354E57;
    opacity       : 1;
}

.newsletter input {
    top   : 6513px;
    left  : 829px;
    width : 282px;
    height: 40px;
    border: 1px solid #956A53;
}

.newsletter_btn {
    padding-left: 114px;
}

.newsletter button {
    top       : 6513px;
    left      : 829px;
    width     : 117px;
    height    : 40px;
    border    : 1px solid #956A53;
    background: #956A53;
    color     : white;
    opacity   : 1;
}

.footer {
    background : #354E57 0% 0% no-repeat padding-box;
    border     : 1px solid #707070;
    opacity    : 1;
    padding-top: 195px;
    height     : 736px;
}

.footer_top {
    display: flex;
}

.footer_shop {
    padding-right: 100px;
}

.footer_about {
    padding-right: 100px;
}

.footer li {
    list-style    : none;
    padding-bottom: 10px;

}

.footer li a {
    color          : #FFFFFF;
    text-decoration: none;
}

.footer h3 {
    text-transform: uppercase;
    margin-bottom : 22px;
    font          : normal normal 600 16px/19px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #FFFFFF;
    text-transform: uppercase;
    opacity       : 1;
}

.footer_sooth {
    padding-left : 139px;
    padding-right: 196px;
}

.footer_sooth h2 {
    font-size     : 54px;
    letter-spacing: 2.7px;
    color         : #FFFFFF;
    opacity       : 1;
}

.footer_sooth p {
    font          : normal normal normal 16px/20px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #FFFFFF;
    opacity       : 1;
    margin-top    : 15px;
}

.footer_btn {
    padding-top: 36px;
}

.footer_btn input {
    top       : 6916px;
    left      : 137px;
    width     : 221px;
    height    : 40px;
    background: transparent;
    border    : 1px solid #FFFFFF;
    opacity   : 1;
}

.footer_btn ::placeholder {
    padding-left: 16px;
    color       : #FFFFFF;
}

.footer_btn button {
    top       : 6916px;
    left      : 137px;
    width     : 117px;
    height    : 40px;
    background: transparent;
    border    : 1px solid #FFFFFF;
    opacity   : 1;
    color     : #FFFFFF;
}

.hr_line {
    padding-left : 8.594rem;
    padding-right: 8.531rem;
    padding-top  : 7.438rem;
}

.footer_bottom {
    background   : #354E57 0% 0% no-repeat padding-box;
    opacity      : 1;
    padding-left : 8.688rem;
    padding-right: 8.563rem;
}

.media_icons_links {
    float          : right;
    display        : flex;
    list-style-type: none;
    padding-left   : 0px;
}

.media_icons_links i {
    font-size  : 21px;
    margin-left: 26px;
    color      : white;
}

.footer_bottom h4 {
    padding-top   : 2.688rem;
    font          : normal normal normal 16px/20px proxima-nova, sans-serif;
    letter-spacing: 0px;
    color         : #FFFFFF;
    text-transform: uppercase;
    opacity       : 1;
}

.footer_bottom .policy_terms {
    padding-top: 1.125rem;

}

.footer_bottom .policy_terms a {
    color: white;
}


@media (min-width: 1024px) and (max-width: 1220px) {

   
}

@media (min-width: 320px) and (max-width: 767px) {
    .product_titles {
        display: none;
    }
}